body { background: #b976b1; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 36px; display: flex; }
.block-filter-0 { color: #7982d7; font-size: 18px; margin-bottom: 5px; }
.block-helper-1 { color: #6e38c8; font-size: 16px; margin-bottom: 5px; }
.block-email-2 { color: #5284f1; font-size: 12px; margin-bottom: 5px; }
.block-shipping-3 { color: #dfe418; font-size: 17px; margin-bottom: 5px; }
.block-database-4 { color: #ce604b; font-size: 19px; margin-bottom: 5px; }
.block-notify-5 { color: #2f624a; font-size: 13px; margin-bottom: 5px; }
.block-database-6 { color: #7e0e39; font-size: 17px; margin-bottom: 5px; }
.block-helper-7 { color: #4c5d6; font-size: 13px; margin-bottom: 5px; }
.block-payment-8 { color: #23cc63; font-size: 18px; margin-bottom: 5px; }
.block-notify-9 { color: #d80d9c; font-size: 17px; margin-bottom: 5px; }
.block-search-10 { color: #f05a9a; font-size: 14px; margin-bottom: 5px; }